<mat-toolbar class="toolbar-main">
    <mat-toolbar-row>

        <div class="toolbar-elems">
            <div class="logo">
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">bar_chart
                </mat-icon>PCR Logger
            </div>
            <app-index-selector class="index-selector"></app-index-selector>
            <div class="btns-container">
                
                <div *ngIf="router.url=='/data'"><a><button class="butn mode" routerLink="/graph" mat-raised-button>Graph</button></a></div>
                <div *ngIf="router.url=='/graph'"><a><button class="butn mode" routerLink="/data" mat-raised-button>Data</button></a></div>
                <div><button class="butn" mat-raised-button (click)="fetchManual()">Fetch</button></div>
                <div><button class="butn del-btn" mat-raised-button (click)="clearDatabase()">Delete All</button></div>
            </div>
            <div class="OI-changes-container">
                <div class="OI-changes">Δ CE : {{totalCEChange}} </div>
                <div class="OI-changes">Δ PE : {{totalPEChange}}</div>
                <div class="OI-changes">Δ PE / Δ CE : {{PECERatio}} </div>
            </div>

            <!-- <div class="index-name">{{title}}</div> -->
        </div>
    </mat-toolbar-row>
</mat-toolbar>
