.graph-div
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    color: white;
    /* height: 100vh; */
    height: calc(100vh - 70px);
    /* padding: 100px; */
}

.chart-sizing-div
{
    width: 80%;
    height: 80%;
}

