<!-- <div class="graph-div">
    <div class="chart-sizing-div">
  <ngx-charts-line-chart
    [scheme]="colorScheme"
    [showGridLines]="false"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="data"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    style="fill: #FFFFFF;"
  >
  </ngx-charts-line-chart>
</div>
</div> -->
<div #lwchart></div>