
.stockconfigcomp
{
    margin-top: 64px;
    color: gainsboro;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    
}

mat-list
{
    width: 40%;
    /* background-color: black; */
}

mat-list-item
{
    width: 50%;

}

.key
{
    width: 50%;
    text-align: center;
}

.val
{
    width: 50%;
    text-align: center;
}